<!--<div>-->
<!--<h2> search by price or destination </h2>-->

<!--<form [formGroup]="searchForm" >-->
<!--  <mat-form-field appearance="standard">-->
<!--&lt;!&ndash;    <mat-radio-group aria-label="Search " formControlName="selection">&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-radio-button value="1">By price</mat-radio-button>&ndash;&gt;-->
<!--&lt;!&ndash;      <br>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-radio-button value="2">By destinations</mat-radio-button>&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-radio-group>&ndash;&gt;-->
<!--    <mat-label>Selection</mat-label>-->
<!--    <input placeholder="select" matInput type="text" formControlName="selection">-->

<!--  </mat-form-field>-->

<!--  <mat-form-field appearance="standard">-->
<!--    <mat-label>SearchCriteria</mat-label>-->
<!--    <input placeholder="search" matInput type="text" formControlName="searchCriteria">-->
<!--  </mat-form-field>-->

<!--  <button (click)=onSearch()>Start search</button>-->
<!--</form>-->
<!--</div>-->
<p>shdjvgfdyfg</p>
