<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title> Search by price or destination </mat-card-title>
  </mat-card-header>

  <mat-card-content>
  <form [formGroup]="searchForm" class="form-container">

      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select formControlName="selection">
          <mat-option value="1" >By price</mat-option>
          <mat-option value="2">By destination</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>SearchCriteria</mat-label>
        <input  placeholder="Search"   matInput type="number" formControlName="searchCriteria">
      </mat-form-field>

 </form>
 </mat-card-content>
  <mat-card-actions>
    <button (click)=onSearch()>Start search</button>
  </mat-card-actions>
</mat-card>

<h2 class="title-p">Our offers</h2>
<app-list-offers></app-list-offers>
